@inherits LayoutComponentBase
<style>
    input-group-text {
        background-color: #fff;
        border: 1px solid #ced4da;
        border-left: none;
        height: calc(2.25rem + 2px);
        position: relative;
        float: right;
        width: 2.5rem;
        text-align: center;
    }

    .form-group {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;       
    }


    .form-control {
        padding-right: 3.5rem;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #e-icon {
        font-size: 1.5em;
    }
</style>
<main>
    @Body
</main>
